<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DBConnectionString" providerName="System.Data.SqlClient"
			  connectionString="Data Source=DESKTOP-OKOCEIH;Initial Catalog=CM_SCN2;User Id=Prospera;Password=Kentosha1;Trusted_Connection=False" />
	</connectionStrings>
	<appSettings>
		<add key="imagefile" value="C:\BurnImage\scanner-scanner_image-0.1.2.img"/>
		<add key="bootfile" value="C:\BurnImage\imx-boot-sd.bin-mainboard"/>
		<add key="imageversion" value="VF102"/>
				
	</appSettings>
</configuration>