<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ps_address" value="COM4"/>
		<add key="connection" value ="Data Source=DESKTOP-UNAR9FP\SQLEXPRESS;Initial Catalog=CM_SCN2;User ID=Prospera;Password=Kentosha1;Integrated Security=False" />
	</appSettings>
</configuration>